# 
# Core LangChain & LLM Libraries
langchain==0.3.0
langchain-openai==0.2.0
langchain-community==0.3.0
langsmith==0.1.120
langgraph==0.2.22
langchainhub==0.1.18

# Foundational Libraries
python-dotenv==1.0.1
pydantic==2.10.6
tiktoken==0.7.0

# Vector Store & Embeddings
faiss-cpu
sentence-transformers==3.0.0

# Retrieval & Ranking
rank_bm25

# UI Framework
streamlit==1.38.0
streamlit-feedback==0.1.3
